extends ../layouts/default.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Welcome to my blog';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .row
            .col-md-12
                p This site is still under construction! Thanks for visiting 
                br
                video.d-block.w-60(controls='' loop='' autoplay='true')
                        source(src='assets/img/walkingcat.mp4' type="video/mp4")  