// 
// Medtronic Variables
// 
$navy: rgb(20, 15, 75);
$white: #fffffa;
$lightblue: rgb(16, 16, 235);
//
//Assign to theme colors
//
$dark:$navy;
$card-cap-bg:$navy;
$card-cap-color:$white;
// Default variable overrides
// Import Bootstrap variables for use within theme
@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";
// Import spacing variables
@import "./variables/spacing.scss";
// Import navigation variables
@import "./variables/navigation.scss";